.chatroom-body {
  background-color: rgba(171, 193, 208);
  height: 1100vh;
}
.chatroom-body .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: rgba(171, 193, 208);
  z-index: 1;
}
.chatroom-body .status-bar {
  top: 0;
  background-color: rgba(171, 193, 208);
  z-index: 2;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  font-size: 13px;
  background-color: rgba(146, 163, 178);
  color: white;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 25px;
}
.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.message-row img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-right: 15px;
}
.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 9px;
  display: block;
}
.message__info {
  font-size: 15px;
  display: flex;
  align-items: flex-end;
}
.message__buble {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 10px;
  border-top-left-radius: 0px;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__buble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 8px;
  margin-left: 10px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 23px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 5px;
}

.reply .reply__column:first-child > i {
  opacity: 0.5;
}
.reply .reply__column:last-child > i {
  right: 35px;
  top: 7px;
  position: absolute;
  opacity: 0.5;
  font-size: 23px;
}
.reply .reply__column:last-child button {
  position: absolute;
  top: 4px;
  right: -9px;
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  font-size: 23px;
}
.reply .reply__column:last-child button:focus,
.reply .reply__column:last-child button:active {
  outline: none;
}
