.user-component__info {
  display: flex;
  align-items: center;
}
.user-component__info i {
  color: tomato;
  font-size: 15px;
  margin-left: 10px;
}
.more-suggestion-box__title {
  padding-bottom: 25px;
  font-size: 15px;
}
.more-suggestion-box__img-sb {
  display: flex;
}
.more-suggestion-box__img-sb__column {
  display: flex;
  flex-direction: column;
}
.more-suggestion-box__img-sb div {
  text-align: center;
}
.more-suggestion-box__img-sb div img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-bottom: 10px;
}
.more-suggestion-box__img-sb span {
  font-size: 15px;
}
